/*Reset parameters*/
*{
    margin: 0rem 0rem 0rem 0rem;
    padding: 0rem 0rem 0rem 0rem;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
    font-size: 1rem;
}

body{
    position: relative;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

button{
    background: none;
    border: none;
}

img{
    max-width: 100%;
}

.lnr-list{
    width: 32px;
}
.lnr-store{
    width: 32px;
    height: 32px;
}
.lnr-redo{
    width: 32px;
    height: 32px;
}
.lnr-diamond{
    width: 32px;
    height: 32px;
}

/*Brem*/

.menu{
    display: flex;
    justify-content: space-between;
    padding: 1rem 1rem 1rem 1rem;
    height: 4rem;
    border-bottom: 1px solid black;
}

.menu__tittle{
    font-size: 2rem;
}

.menu__icon{
    height: 2rem;
    margin-right: 60px;
}

.main{
    padding: 1rem 1rem 1rem 1rem; 
}

.main__principal{
    margin-bottom: 1.2rem;
}

.principal__article{
    position:relative;
}

.article__img{
    position: relative;
}
.article__banner{
    position: absolute;
    top: 2rem;
    left: 3rem;
    background-color: rgb(20, 196, 20);
    color: white;
    padding: 0.4rem;
}

.banner__uppercase {
    text-transform: uppercase;
    color: white;
}

.article__state{
    padding-top: 1rem;
    text-transform: uppercase;
    color: rgb(223, 0, 0);
    font-weight: bold;
}

.article__tittle{
    padding: 1rem 0rem 1rem 0rem;
    font-size: 2rem;
}

.article__description{
    font-size: 0.8rem;
    padding-bottom: 0.8rem;
}

.article__div-price{
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.article__price{
    display: inline-block;
    font-size: 1.6rem;
    font-weight: bold;
}

.article__button{
    margin-left: 1.6rem;
    padding: 0.9rem;
    border-radius: 0.5rem;
    color: white;
    background-color: #0456ee;
}

.article--grid{
    margin-top:  1rem;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 0.9rem;    
}

.grid__icono{
    display: inline-block;
    max-height: 100%;
}

.grid__description{
    font-size: 0.8rem;
}

@media screen and (max-width: 919px) {
    .menu__dropdown {
        display: inline-block;
        position: relative;
    }
    .menu__content {
        display: none;
        position: absolute;
        width: 100%;
        overflow: auto;
        box-shadow: 0px 10px 10px 0px rgba(0,0,0,0,6);
        z-index: 1;
    }
    .menu__dropdown:hover .menu__content {
        display: block;
    }
    .menu__content a {
        display: block;
        color: #000000;
        background-color:antiquewhite;
        padding: 5px;
    }
    .menu__content a:hover {
        color: #FFFFFF;
        background-color: #00A4BD;
    }
}

@media (min-width: 919px) {
    .menu{
        padding: 1rem 8rem 1rem 8rem;
    }

    .menu__button{
        display: none;
    }

    .menu__dropdown{
        display: flex;
        align-items: center;
    }

    .menu__list{
        display: inline-block;
        padding: 0rem 1rem 0rem 1rem;
    }

    .menu--rect{
        border: 1px solid black;
        border-radius: 0.5rem;
        padding: 0.5rem 0.5rem 0.5rem 0.5rem;
    }

    .main{
        padding: 2rem 8rem 2rem 8rem; 
    }

    .principal__article{
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto;
        gap: 0.9rem;    
    }

    .article--grid{
        margin-top:  1rem;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        gap: 0.9rem;    
    }

    .article__tittle{
        padding: 0rem 0rem 1rem 0rem;
    }
}