/*Reset parameters*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: black;
}

body{
    position: relative;
}

a {
    text-decoration: none;
}

